# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.xml
latency
*.csv
mem_*
cpu_*
server.*.log
client.*.log


# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea/
.DS_Store

server.pid
client.pid

client/client
server/server

bin/client
bin/server

bin/deploy/client
bin/deploy/server

bin/deploy/linux/client
bin/deploy/linux/server

bin/deploy/linux-docker/client
bin/deploy/linux-docker/server

bin/deploy/macos/client
bin/deploy/macos/server

.log
/package-lock.json
/node_modules/
bin/hotstuff_censorship.txt
bin/hotstuff_index.txt
bin/hotstuff_kindBlock.txt
bin/hotstuff_maliBlock.txt
bin/hotstuff_totalBlock.txt
bin/hotstuff_chainQuality.txt
bin/hotstuff_forkedBlock.txt
bin/streamlet_censorship.txt
bin/streamlet_chainQuality.txt
bin/streamlet_forkedBlock.txt
bin/streamlet_index.txt
bin/streamlet_kindBlock.txt
bin/streamlet_maliBlock.txt
bin/streamlet_totalBlock.txt
bin/tchs_censorship.txt
bin/tchs_chainQuality.txt
bin/tchs_forkedBlock.txt
bin/tchs_index.txt
bin/tchs_kindBlock.txt
bin/tchs_maliBlock.txt
bin/tchs_totalBlock.txt
bin/result10/101/fasthotstuff_censorship.txt
bin/result10/101/fasthotstuff_chainQuality.txt
bin/result10/101/fasthotstuff_forkedBlock.txt
bin/result10/101/fasthotstuff_index.txt
bin/result10/101/fasthotstuff_kindBlock.txt
bin/result10/101/fasthotstuff_maliBlock.txt
bin/result10/101/fasthotstuff_totalBlock.txt
bin/result10/101/hotstuff_censorship.txt
bin/result10/101/hotstuff_chainQuality.txt
bin/result10/101/hotstuff_forkedBlock.txt
bin/result10/101/hotstuff_index.txt
bin/result10/101/hotstuff_kindBlock.txt
bin/result10/101/hotstuff_maliBlock.txt
bin/result10/101/hotstuff_totalBlock.txt
bin/result10/101/tchs_censorship.txt
bin/result10/101/tchs_chainQuality.txt
bin/result10/101/tchs_forkedBlock.txt
bin/result10/101/tchs_index.txt
bin/result10/101/tchs_kindBlock.txt
bin/result10/101/tchs_maliBlock.txt
bin/result10/101/tchs_totalBlock.txt
bin/result10/102/fasthotstuff_censorship.txt
bin/result10/102/fasthotstuff_chainQuality.txt
bin/result10/102/fasthotstuff_forkedBlock.txt
bin/result10/102/fasthotstuff_index.txt
bin/result10/102/fasthotstuff_kindBlock.txt
bin/result10/102/fasthotstuff_maliBlock.txt
bin/result10/102/fasthotstuff_totalBlock.txt
bin/result10/102/hotstuff_censorship.txt
bin/result10/102/hotstuff_chainQuality.txt
bin/result10/102/hotstuff_forkedBlock.txt
bin/result10/102/hotstuff_index.txt
bin/result10/102/hotstuff_kindBlock.txt
bin/result10/102/hotstuff_maliBlock.txt
bin/result10/102/hotstuff_totalBlock.txt
bin/result10/102/tchs_censorship.txt
bin/result10/102/tchs_chainQuality.txt
bin/result10/102/tchs_forkedBlock.txt
bin/result10/102/tchs_index.txt
bin/result10/102/tchs_kindBlock.txt
bin/result10/102/tchs_maliBlock.txt
bin/result10/102/tchs_totalBlock.txt
bin/result10/72/fasthotstuff_censorship.txt
bin/result10/72/fasthotstuff_chainQuality.txt
bin/result10/72/fasthotstuff_forkedBlock.txt
bin/result10/72/fasthotstuff_index.txt
bin/result10/72/fasthotstuff_kindBlock.txt
bin/result10/72/fasthotstuff_maliBlock.txt
bin/result10/72/fasthotstuff_totalBlock.txt
bin/result10/72/hotstuff_censorship.txt
bin/result10/72/hotstuff_chainQuality.txt
bin/result10/72/hotstuff_forkedBlock.txt
bin/result10/72/hotstuff_index.txt
bin/result10/72/hotstuff_kindBlock.txt
bin/result10/72/hotstuff_maliBlock.txt
bin/result10/72/hotstuff_totalBlock.txt
bin/result10/72/tchs_censorship.txt
bin/result10/72/tchs_chainQuality.txt
bin/result10/72/tchs_forkedBlock.txt
bin/result10/72/tchs_index.txt
bin/result10/72/tchs_kindBlock.txt
bin/result10/72/tchs_maliBlock.txt
bin/result10/72/tchs_totalBlock.txt
